/*Les polices d'écriture*/
@font-face {
  font-family: "8bitwonder";
  src: url("../fonts/8BITWONDER/8-BIT\ WO.ttf") format("truetype");
}
@font-face {
  font-family: "PixelSans";
  src: url("../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf")
    format("truetype");
}
/*-----------------------------------------------------------*/
/*Le body du site*/
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 80px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    349deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 28%,
    rgba(64, 64, 170, 1) 92%
  );
}
/*-----------------------------------------------------------*/
/*Le chargement de la page*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loader img {
  width: 100px;
  height: auto;
}

#loading-text {
  font-family: "8bitwonder", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  color: rgb(13, 68, 187);
  text-shadow: 0 2px 0 black;
}

#loading-text::after {
  content: " .";
  animation: dots 1.5s infinite steps(3);
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " ..";
  }
  66% {
    content: " ...";
  }
  100% {
    content: " .";
  }
}
#content {
  display: none;
}

/*-----------------------------------------------------------*/
/*Navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 30%;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 20px;
}

.nav-list {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
  font-family: "PixelSans", sans-serif;
  font-size: 20px;
  text-shadow: 1px 2px 0px #000000;
}

#burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: white;
}
/*-----------------------------------------------------------*/
/*Présentation*/
#presentation {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 150px;
  padding-bottom: 350px;
  padding-left: 50px;
  background-image: url("../img/Presentation-background.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#presentation img {
  max-width: 100%;
}
#presentation-pixelart {
  height: 350px;
  width: 900px;
  border-radius: 10px;
  margin-right: 100px;
}
#presentation-text {
  margin-top: 130px;
  font-family: "8bitwonder", sans-serif;
  color: white;
  font-weight: bold;
  text-shadow: 3px 2px 0px #000000;
}
#presentation-profilepicture {
  border-radius: 60%;
  height: 400px;
  width: 400px;
  align-self: flex-start;
  margin-top: -30px;
  margin-left: 50px;
  margin-right: 20px;
  border: dotted black 5px;
}
/*-----------------------------------------------------------*/
/*À propos de moi*/
#about-me {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 250px;
  padding-top: 250px;
  background-image: url("../img/aboutme-background.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#about-me-text {
  text-align: center;
  margin-top: 40px;
  margin-right: 20px;
  color: white;
  font-family: "PixelSans", sans-serif;
  font-size: 20px;
  text-shadow: 1px 2px 0px #000000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#about-me-profilepicture {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 10px;
  border: dotted black 5px;
}
/*-----------------------------------------------------------*/
/*Mes projets*/
#project-block {
  background-image: url("../img/project-background.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: "PixelSans", sans-serif;
  text-shadow: 1px 2px 0px #000000;
  padding-top: 100px;
  padding-bottom: 100px;
}
.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.projects-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.project-card {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}
.project-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.project-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.project-details {
  line-height: 1.6;
}
.project-link {
  margin-top: 30px;
}
.project-image {
  flex: 1;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-link {
  text-decoration: none;
  color: white;
}
/*-----------------------------------------------------------*/
/*Les technologies*/
#technology {
  text-align: center;
  padding: 50px;
  background-image: url("../img/technology-background.PNG");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "PixelSans", sans-serif;
  text-shadow: 1px 2px 0px #000000;
}
#technology-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
  max-width: 80%;
  margin: 0 auto;
  justify-items: center;
}
#technology img {
  height: 100px;
  width: 100px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#technology img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/*-----------------------------------------------------------*/
/*La partie Contact*/
#contact {
  padding-top: 90px;
  padding-bottom: 130px;
  background-image: url("../img/contact-background.PNG");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "PixelSans", sans-serif;
  text-shadow: 1px 2px 0px #000000;
}
#contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}
#contact h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

#contact-links {
  display: flex;
  gap: 7rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
#contact-links img {
  width: 100%;
  height: 150px;
}
#contact-links img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#contact-form {
  flex: 1;
  text-align: center;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 100%;
}

#contact-form h4 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}

#contact-form label {
  font-size: 1rem;
  color: #ddd;
  text-align: left;
}

#contact-form input,
#contact-form textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1rem;
  background: #222;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #0e45db;
}

#contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

#submit {
  background: #23a05b;
  color: white;
  padding: 12px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "PixelSans", sans-serif;
  text-shadow: 1px 2px 0px #000000;
}

#submit:hover {
  background: #265a3d;
}

/*-----------------------------------------------------------*/
/*La partie Footer*/
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  font-family: "PixelSans", sans-serif;
  text-shadow: 1px 2px 0px #000000;
}
/*-----------------------------------------------------------*/
/* Animation fade-in */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-----------------------------------------------------------*/
/*Animation au défilement*/
.hidden-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.visible-section {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}
